{% extends "base.html" %}

{% block title %}My account{% endblock %}

{% block content %}
<div class="container">
    <h2 class="starter-template">Open transactions</h2>
    <table class="table table-striped">
        <tr>
            <th>SYMBOL</th>
            <th>TYPE</th>
            <th>TIME</th>
            <th>PRICE</th>
            <th>ACTION</th>
        </tr>
        <tr>
            {% for transaction in transactions_open %}
            <td>{{ transaction.currency }}</td>
            <td>{{ transaction.sell_or_buy }}</td>
            <td>{{ transaction.date_add }}</td>
            <td>{{ transaction.bid }} </td>
            <td>
                <form action="" method="POST">{% csrf_token %}
                    <button class="btn btn-default" type="submit" name={{ transaction.id }} value="close">Close</button>
                </form>
            </td>
        </tr>
            {% endfor %}
    </table>

    <h2 class="starter-template">Closed transactions</h2>
    <table class="table table-striped">
        <tr>
            <th>SYMBOL</th>
            <th>TYPE</th>
            <th>TIME OPEN</th>
            <th>PRICE</th>
            <th>TIME CLOSE</th>
            <th>PRICE</th>
            <th>PROFIT</th>
        </tr>
        <tr>
            {% for transaction in transactions_closed %}
            <td>{{ transaction.currency }}</td>
            <td>{{ transaction.sell_or_buy }}</td>
            <td>{{ transaction.date_add }}</td>
            <td>{{ transaction.bid }} </td>
            <td>{{transaction.date_close}}</td>
            <td>{{closing_deal.ask}}</td>
            <td>{{ transaction.result }} </td>
        </tr>
            {% endfor %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>TOTAL PROFIT</th>
            <th>{{ profit }}</th>
    </table>
</div>

{% endblock %}